<ion-view view-title="Add Degree">
  <ion-content>

    <div class="list">
      <label class="item item-stacked-label">
        House by Nadir Balcikli from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Add Document by Agus Purwanto from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Document by Wilson Joseph from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Mortar Board by Michele Zamparo from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Certificate by Marco Galtarossa from the Noun Project
      </label>
      <label class="item item-stacked-label">
        University by Gerald Wildmoser from the Noun Project
      </label>
    </div>

  </ion-content>
</ion-view>
