<ion-view view-title="Profile Courses">
  <ion-content ng-init="init();">
    <div class="list">
      <div ng-repeat="(key, value) in courses" class="item item-button-right">
        <h2>Course Code: {{key}}</h2>
        <p> Grade: {{value.grade}} </p>
        <button class="button button-positive" ui-sref="profile-add-course({course : key, grade : value.grade, startDate : value.startDate})">
          <i class="icon ion-edit"></i>
        </button>
      </div>
    </div>

    <div class="padding">
      <button class="button button-positive button-block" ui-sref="profile-add-course">
        Add New Course To Profile
      </button>
    </div>
  </ion-content>
</ion-view>
